<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Logan.</h1>
      <h3 class="section-subheading">I enjoy developing innovative busines solutions through application and web design.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I am currently in my second year of employment with American Family Insurance in Madison, WI.</strong> Before AMFAM, I received expert</p>
          <p class="about-text">I love learning new and better ways to create seamless user experiences with clean, efficient, and scalable code. I consider work an ongoing education, and I'm always looking for opportunities to work with those who are willing to share their knowledge as much as I want to learn. At the end of the day, my primary goal is to create something beautiful with people that bring out the best in me.</p>
          <p class="about-text"><strong>When I'm not in front of a computer screen</strong> I'm probably playing hockey, traveling, messing with my dogs, or biking.</p>
        </div>
      </div>
    </div>
  </div>
</section>
