<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Logan.</h1>
      <h3 class="section-subheading">I enjoy developing innovative business solutions through application and web design.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
        <img class="headshot" src="img/headshot.jpg" alt="headshot">
        <div class="about-text-wrapper">
          <p class="about-text"><strong>I am currently in my second year of employment with American Family Insurance in Madison, WI.</strong><br> Before AMFAM, I received rich academic training and practical experience through UWSP's Computer Information Systems program.  The program focused on core computing topics such as computer programming, systems analysis, network administration and database development. </p>
          <p class="about-text">Computing is a rapidly developing, ever-changing discipline. I stay up to date with the most recent advances and trends through consistent research and continuous education from various MOOC's or online tutorials.</p>
          <p class="about-text"><strong>When I'm not in front of a computer screen</strong> I'm probably competing in hockey, traveling the country, exploring with my dogs, biking the trails, or crossfitting.</p>
        </div>
      </div>
    </div>
  </div>
</section>
